*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
}


.modal-title{
    background-color: rgba(127, 51, 198, 0.931);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.form-control,select{
    margin: 2rem 0;
}

.user-section h3{
    font-size: 28px;
    font-weight: 600;
    color: #606C76;
}

i{
    cursor: pointer;
}

img{
    width: 300px;
    height: 250px;
}

h3{
    font-size: 18px;
}
p{
    font-size: 12px;
}

.product-section{
    padding: 4rem;
    margin-top: 5rem;
    height: 100vh;
}
#modal{
    display: none;
}
.card{
    width: 80%;
    padding: 2rem 3rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    & h1{
        color: #606C76;
    }
}

form{
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}